body {
  @include google-font('Raleway');

  /** Remove Default Style **/
  h1, h2, h3, h4, h5, p, a {
    font-family: 'Raleway', sans-serif !important;
  }
  agm-map {
    height: 95vh;
  }
  ul {
    list-style-type: none;
    padding-left: 15px;
    margin-bottom: 0;
  }
  a {
    color: $main-color;
    text-decoration: none;
  }

  /** Main Style **/
  .map {
    .searchInput {
      margin: 20px 0;
      position: absolute;
      z-index: 99;
    }
    .btn-secondary {
      background-color: $main-color;
      color: $secondary-color;
    }
    .nav-item {
      width: 50%;
      font-weight: bold;
      .nav-link {
        color: $main-color;
        border-radius: 0;
        font-size: 2vh;
        transition-duration: 1s;
      }
      .nav-link.active {
        background-color: $main-color;
        color: $secondary-color;
      }
    }
    .badge-dark.listControl {
      color: $secondary-color;
      background-color: #343a40;
      width: 150px;
      height: 20px;
      line-height: 1.2;
      position: absolute;
      top: 6%;
      right: 2%;
      &:hover {
        color: $secondary-color;
      }
    }
    .badge-dark.viewControl {
      color: $secondary-color;
      background-color: #343a40;
      width: 150px;
      height: 20px;
      line-height: 1.2;
      position: absolute;
      top: 22%;
      right: 2%;
      &:hover {
        color: $secondary-color;
      }
    }
    .card {
      background-color: transparent;
    }
    .cities {
      background-color: $secondary-color;
      z-index: 99;
      position: absolute;
      top: 10.5%;
      left: 1%;
      padding-left: 0;
    }
    .stores {
      position: absolute;
      top: 9%;
      right: 2%;
      height: 500px;
      background: $secondary-color;
      color: $main-color;
      overflow: scroll;
      padding: 0 10px;
      overflow-x: hidden;
      p {
        margin: 3px 0;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .store {
        border-bottom: 1px solid $main-color;
        &:hover {
          background-color: #e0e0e0;
        }
      }
      .location {
        cursor: pointer;
      }
      .badge-dark {
        color: $secondary-color;
        background-color: #343a40;
        width: 150px;
        height: 20px;
        line-height: 1.2;
      }
    }
    #scrollbar-style::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #eeeeee;
    }
    #scrollbar-style::-webkit-scrollbar {
      width: 12px;
      background-color: #eeeeee;
    }
    #scrollbar-style::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $main-color;
    }
  }

  /** MediaQueries **/
  @media only screen and (min-device-width: 320px) and (max-device-width: 680px) {
    body, .map {
      overflow: hidden;
    }
    .stores {
      top: 18% !important;
      right: 0 !important;
    }
    .cities {
      top: 16% !important;
      left: 5% !important;
      width: 70%;
    }
    .badge-dark.listControl {
      width: 50% !important;
      height: 30px !important;
      line-height: 2.2 !important;
      position: absolute;
      top: 95% !important;
      right: 0 !important;
    }
    .badge-dark.viewControl {
      top: 95% !important;
      left: 0 !important;
      width: 50% !important;
      height: 30px !important;
      line-height: 2.2 !important;
    }
  }
  @media only screen and (min-device-width: 1900px) and (max-device-width: 2000px) {
    .cities {
      top: 9.5% !important;
      left: 1% !important;
    }
    .badge-dark.viewControl {
      top: 27%;
    }
  }
  @media only screen and (min-device-width: 1500px) and (max-device-width: 1600px) {
    .cities {
      top: 13% !important;
      left: 1% !important;
    }
    .badge-dark.viewControl {
      top: 28% !important;
    }
  }
}
