<div class="map">
    <!--Tabs At Top-->
    <ngb-tabset type="pills text-center">
        <!--Map Area-->
        <ngb-tab title="{{'Local Dealer' |  uppercase}}">
            <ng-template ngbTabContent>
                <div class="col-lg-6 searchInput">
                    <div class="input-group">
                        <input type="text" class="form-control" (keydown)="setFilteredItems()" [(ngModel)]="model"
                               ngbTooltip="{{notFound}}" #tooltip="ngbTooltip" triggers="manual"/>
                        <span class="input-group-btn"><button class="btn btn-secondary" [disabled]="!searchEnabled"
                                                              (click)="searchForThatCity()">Search</button></span>
                    </div>
                </div>
                <agm-map [latitude]='lat' [longitude]='lng' [zoom]="zoom" [usePanning]='true'>
                    <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
                        <agm-marker *ngFor='let location of locations' [latitude]='location.lat'
                                    [longitude]='location.lng'
                                    (markerClick)='markerClicked(location , infoWindow)'>
                            <agm-info-window #infoWindow >
                                {{location.name}}
                            </agm-info-window>
                        </agm-marker>
                    </agm-marker-cluster>
                    <core-map-content (onMapLoad)='loadAPIWrapper($event)'></core-map-content>
                </agm-map>
            </ng-template>
        </ngb-tab>
        <!--Map Area-->

        <!--Online Retailer Tab-->
        <ngb-tab title="{{'Online Retailer' |  uppercase}}">
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                squid.
            </ng-template>
        </ngb-tab>
        <!--Online Retailer Tab-->

    </ngb-tabset>
    <!--Tabs At Top-->

    <!--Search Keywords Result-->
    <div *ngIf="cities" class="col-lg-5 cities">
        <ul>
            <li *ngFor="let city of cities" (click)="selected(city)">{{city}}</li>
        </ul>
    </div>
    <!--Search Keywords Result-->

    <!--Search Stores-->
    <div *ngIf="isActive" [ngSwitch]="viewMode" [style.height]="viewMode == 'list' ? '500px' :  'auto' "
         id="scrollbar-style" class="offset-md-8 col-lg-4 stores">
        <div *ngSwitchCase="'list'">
            <div class="row store" *ngFor="let store of locations" (click)="findStore(store)">
                <div class="col-md-8">
                    <p><i class="fas fa-phone"></i> : {{store.phone ? store.phone : 'unknown'}}</p>
                    <p><i class="fas fa-envelope-open"></i> : {{store.email ? store.email : 'unknown'}}</p>
                    <p><a href="{{store.website ? store.website : '#'}}"><i class="fas fa-at"></i> : {{store.website ?
                        store.website : 'unknown'}}</a></p>
                    <p><i class="fas fa-map-marker "></i> : {{store.street ? store.street : 'unknown' + ' ' +
                        store.postcode
                        + ' ' + store.city}}</p>
                    <p><i class="fas fa-building"></i> : {{store.storeType ? store.storeType : 'unknown'}}</p>
                    <p><i class="fas fa-clock"></i> : {{store.OpenHours ? store.OpenHours : 'unknown'}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{store.name}}</p>
                    <img src="http://via.placeholder.com/70x70" alt="logo">
                    <p class="location">Go To Location <i class="fas fa-compass"></i></p>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'single'">
            <div class="row store" *ngFor="let store of singleLocation" (click)="findStore(store)">
                <div class="col-md-8">
                    <p><i class="fas fa-phone"></i> : {{store.phone ? store.phone : 'unknown'}}</p>
                    <p><i class="fas fa-envelope-open"></i> : {{store.email ? store.email : 'unknown'}}</p>
                    <p><a href="{{store.website ? store.website : '#'}}"><i class="fas fa-at"></i> : {{store.website ?
                        store.website : 'unknown'}}</a></p>
                    <p><i class="fas fa-map-marker"></i> : {{store.street ? store.street : 'unknown' + ' ' +
                        store.postcode
                        + ' ' + store.city}}</p>
                    <p><i class="fas fa-building"></i> : {{store.storeType ? store.storeType : 'unknown'}}</p>
                    <p><i class="fas fa-clock"></i> : {{store.OpenHours ? store.OpenHours : 'unknown'}}</p>
                </div>
                <div class="col-md-4 text-center">
                    <p>{{store.name}}</p>
                    <img src="http://via.placeholder.com/70x70" alt="logo">
                    <p class="location">Go To Location <i class="fas fa-compass"></i></p>
                </div>
            </div>
        </div>
    </div>
    <!--Search Stores-->

    <!--List Button Controller-->
    <a *ngIf="results" (click)="isActive = !isActive" class="badge badge-dark listControl">{{isActive ? 'Close List' : 'Display List'}}</a>
    <!--List Button Controller-->

    <!--View Button Controller-->
    <a *ngIf="viewMode == 'single'" (click)="viewMode = 'list'" class="badge badge-dark viewControl">{{isActive ? 'Display All' : ''}}</a>
    <!--View Button Controller-->

</div>